<div class="card">
  <div class="display-image"></div>
  <!-- <img src="./assets/images/angular-routing.png" class="card-img-top img-responsive center-block" alt="..."> -->

  <div class="card-header">
    <h1>{{ pageTitle }}</h1>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="card-text">
        <p>
          Angular Router is a powerful JavaScript router built and maintained by the Angular core team that can be installed from the @angular/router package. It provides a complete routing library with the possibility to have multiple router outlets, different path matching strategies, easy access to route parameters and route guards to protect components from unauthorized access.<br><br>
          The Angular router is a core part of the Angular platform. It enables developers to build Single Page Applications with multiple views and allow navigation between these views.
        </p>
      </div>
    </div>
  </div>
</div>
